<Config>
  <ImportXlsxRelativePath>/..\..\..\..\..\YiSiHoliday\Document\Artres\Config\Recorder\/</ImportXlsxRelativePath>
  <ExportXmlRelativePath>/..\..\..\..\..\YiSiHoliday\Assets\Artres\Config\Recorder/</ExportXmlRelativePath>
  <ExportCSRelativePath>/..\..\..\..\..\YiSiHoliday\Assets\Script\Config\Recorder/</ExportCSRelativePath>
  <ProjectVersionTool>git</ProjectVersionTool>
  <CSRecorderTemplateFileRelativePath>/CSRecorderTemplate.txt</CSRecorderTemplateFileRelativePath>
  <CSEnumTemplateFileRelativePath>/CSEnumTemplate.txt</CSEnumTemplateFileRelativePath>
  <XmlFileName>{fileName}.xml</XmlFileName>
  <CSFileName>{fileName}.cs</CSFileName>
  <CSClassPropertyTemplateMap>
    <Property addInAttribute="true" addInElement="true"><![CDATA[        /// <summary>
        /// {propertyConfigName} {propertyDescription}
        /// </summary>
        public {propertyClassName} {propertyValueName} { get; private set; }]]></Property>
    <LoadInAttributeFunction addInAttribute="true" addInElement="false"><![CDATA[                    case "{propertyValueName}":
                    {
                        {propertyValueName} = {convertFunction}
                        break;
                    }]]></LoadInAttributeFunction>
    <LoadNodeFunction addInAttribute="false" addInElement="true"><![CDATA[                    case "{propertyValueName}":
                    {
                        {propertyValueName} = {convertFunction}
                        break;
                    }]]></LoadNodeFunction>
    <EunmField addInAttribute="true" addInElement="true"><![CDATA[        /// <summary>
        /// {propertyConfigName}
        /// </summary>
        {propertyValueName},]]></EunmField>
  </CSClassPropertyTemplateMap>
  <ConvertFunctionTemplateMap>
    <int>Convert.ToInt32(attributeValue);</int>
    <string>attributeValue;</string>
    <float>(float)Convert.ToDouble(attributeValue);</float>
    <bool>Convert.ToBoolean(attributeValue);</bool>
    <SplitStringList><![CDATA[new {propertyClassName}();
                        string[] valueList =  attributeValue.Split('{propertyClassParam1}');
                        foreach (string valueString in valueList)
                        {
                            attributeValue = valueString;
                            {propertyClassName1} propertyValue = {convertFunction1}
                            {propertyValueName}.Add(propertyValue);
                        }]]></SplitStringList>
    <SplitStringMap><![CDATA[new {propertyClassName}();
                        string[] pairList =  attributeValue.Split('{propertyClassParam1}');
                        foreach (string pair in pairList)
                        {
                            string[] keyValueList =  pair.Split('{propertyClassParam2}');
                            attributeValue = keyValueList[0];
                            {propertyClassName1} propertyKey = {convertFunction1}
                            attributeValue = keyValueList[1];
                            {propertyClassName2} propertyValue = {convertFunction2}
                            {propertyValueName}.Add(propertyKey,propertyValue);
                        }]]></SplitStringMap>
    <ValueList><![CDATA[new {propertyClassName}();
                        foreach (XElement keyValueNode in element.Elements())
                        {
                            string attributeValue = keyValueNode.Attribute("value").Value;
                            {propertyClassName1} propertyValue = {convertFunction1}
                            {propertyValueName}.Add(propertyValue);
                        }]]></ValueList>
    <KeyValueMap><![CDATA[new {propertyClassName}();
                        foreach (XElement keyValueNode in element.Elements())
                        {
                            string attributeValue = keyValueNode.Attribute("key").Value;
                            {propertyClassName1} propertyKey = {convertFunction1}
                            attributeValue = keyValueNode.Attribute("value").Value;
                            {propertyClassName2} propertyValue = {convertFunction2}
                            {propertyValueName}.Add(propertyKey, propertyValue);
                        }]]></KeyValueMap>
    <custom>({propertyClassName})Assets.Script.Hotfix.HelpManager.ConvertStringToObjectByType(typeof({propertyClassName}),attributeValue);</custom>
  </ConvertFunctionTemplateMap>
</Config>